:root {
  --primary-text-color: #fff;
  --secondary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
}

body {
  background-color: #fff;
  font-family: roboto, sans-serif;
  letter-spacing: 0.02em;
}


@media screen and (max-width: 767px) {
  .header {
    padding-top: 24px;
    padding-bottom: 0;
  }
  .What-are-we-doing {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
  }
  .site-nav {
    display: none;
  }
  .contact {
    display: none;
  }
  .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 0;
  }
  .menu-fixed {
    position: relative;
    width: 428px;
    height: 502px;
    margin-left: auto;
    margin-right: auto;
  }
  .burger-menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: -48px;
    left: 0;
    width: 100%;
    height: 796px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .burger-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .content-burger {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .contacts-tel-burger {
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    margin-top: 284px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
  }
  .burger-nav a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-nav a:hover,
  .burger-nav a:focus {
    color: #404BBF;
  }
  .burger-nav li {
    margin-bottom: 40px;
  }
  .burger-link {
    display: flex;
    margin-top: 48px;
  }
  .burger-link-icon {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }
  .burger-link a:not(:last-child) {
    margin-right: 56px;
  }
  .icon-instagram-burger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 20%;
    fill: #fff;
  }
  .icon-twitter-burger {
    width: 24px;
    height: 19px;
    cursor: pointer;
    margin-top: 28%;
    fill: #fff;
  }
  .icon-facebook-borger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 20%;
    fill: #fff;
  }
  .icon-linkedin-burger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 18%;
    fill: #fff;
  }
  .menu-mobile {
    height: 100%;
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-btn {
  position: absolute;
  top: 24px;
  right: 20px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .overlay {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    min-width: 428px;
    min-height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile2x.jpg);
  }
}
  .backdrop {
    z-index: 1;
  }
  .main h1 {
    width: 318px;
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 72px;
  }
  .button-hero {
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    color: #ffffff;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .about {
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 96px;

  }
  .about li:not(:last-child) {
    margin-bottom: 72px;
  }
  .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-item::before {
    display: block;
    content: "";
    height: 112px;
    width: 372px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
  .about-item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
    background-size: 60px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
    background-size: 60px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
    background-size: 60px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
    background-size: 60px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 8px;
  }
  .about p {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  .about-company {
    padding-bottom: 96px;
  }
  .team {
    min-width: 428px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F4FD;
    
  }
  .containerp {
    width: 426px;
    display: block;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 128px;
  }
  .team h2 {
    margin-top: 0;
    margin-bottom: 96px;
  }
  .team-list li:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-list li {
    width: 264px;
    height: 428px;
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
  }
  .icon-link {
    display: flex;
    margin-top: 12px;
    
  }
  .icon-instagram {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 28%;
    fill: #fff;
  }
  .instagram {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-left: 16px;
  }
  
  .twitter {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-left: 24px;
  }
  .icon-twitter {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 28%;
    fill: #fff;
  }
  .facebook {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-left: 24px;
  }
  .icon-facebook {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 28%;
    fill: #fff;
  }
  .linkedin {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-left: 24px;
  }
  .icon-linkedin {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 28%;
    fill: #fff;
  }
  .customers {
    text-align: center;
    padding: 96px 0;
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .customers h2 {
    margin: 0;
    margin-bottom: 72px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-text-color);
  }
  .brands {
    display: flex;
    display: inline-block;
    margin: 0 auto;
    
  }
  .brands li {
    width: 190px;
    height: 88px;
    display: inline-block;
    
  }
  .brands li:nth-last-child(n+3) {
    margin-bottom: 72px;
  }
  .brands li:nth-child(even) {
    margin-left: 16px;
  }
  .link-brand {
    border: 1px solid #8E8F99;
    display: block;
    width: 190px;
    height: 88px;
    border-radius: 4px;
    color: #8E8F99;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cust {
    margin-top: 10%;
    fill: currentColor;
    width: 104px;
    height: 56px;
    
  }
  
  .link-brand:hover,
  .link-brand:focus {
    border: 1px solid #4D5AE5;
    color: #4D5AE5;
    
  }
  .text-footer {
    text-align: center;
    width: 268px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    min-width: 428px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .logo-footer {
    text-decoration: none;
    margin-bottom: 16px;
  }
  .footer a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: #f4f4fd;
  }
  .footer p {
    width: 264px;
    margin-top: 16px;
  }
  .social-media {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto; 
  }
  .social-media h3{
    margin: 0;
    margin-bottom: 16px;
    color: #fff;
  }
  .link-footer {
    display: flex;
  }
  .footer-form h3 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #F4F4FD;
  }
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    width: 396px;
  }
  .footer-form form {
    width: 250px;
  }
  .footer-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
  }
  .form-filed {
    position: relative;
    width: 396px;
    margin-right: 0;
  }
  .form-filed input {
    
    width: 396px;
    margin-left: auto;
    margin-right: 15px;
  }
  .mail-form-footer {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2E2F42;
    padding-left: 16px;
  
    color: #F4F4FD;
  }
  .mail-form-footer:focus + .label-footer,
  .mail-form-footer:not(:placeholder-shown) + .label-footer {
    top: -30px;
    left: -0.5%;
  }
  .label-footer {
    position: absolute;
    top: 0;
    left: 16px;
    color: rgba(255, 255, 255, 0.6);
    transform: translateY(50%);
    transition-property: top, left;
    transition-duration: 250ms;
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .subscribe {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: var(--accent-color);
    color: #fff;
    font-family: 'Roboto';
    border-radius: 4px;
    margin-right: 0;
    margin-top: 16px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-left: 0;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe:hover,
  .subscribe:focus {
    cursor: pointer;
    background-color: #404BBF;
  }
  .subscribe::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
    right: 24px;
    display: inline-block;
    content: "";
    width: 24px;
    height: 20px;
    background-image: url(../images/iconsend.svg);
    
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 428px;
    padding-left: 15px;
    margin: 0 auto;
    padding-right: 15px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-fixed {
    display: none;
  }
  .What-are-we-doing {
    display: none;
  }
  .container {
    margin: 0;
  }
  .burger-btn {
    display: none;
  }
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2e2f42;
    text-decoration: none;
    margin-right: 123px;
  }
  .navigation {
    display: flex;
  }
  .header {
    display: flex;
    align-items: center;
    width: 768px;
    margin: 0 auto;
  
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .site-nav {
    display: flex;
  }
  .item + .item {
    margin-left: 40px;
  }
  .current::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -24px;
    left: 0;
    background-color: #4D5AE5;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .overlay {
      
      margin-top: auto;
      padding-top: 112px;
      padding-bottom: 108px;
      text-align: center;
      min-width: 768px;
      min-height: 420px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .overlay {
          background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet2x.jpg);
    }
  }
    .backdrop {
      z-index: 1;
    }
    .button-hero {
      width: 170px;
      height: 51px;
      left: 635px;
      top: 432px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    
      font-weight: 600;
      font-size: 16px;
      line-height: 1.19;
      color: #ffffff;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    }
    .main h1 {
      width: 494px;
      height: 120px;
      font-family: 'Roboto';
      ont-weight: 700;
      font-size: 56px;
      line-height: 1.1;
      margin: 0 auto;
      color: #fff;
      margin-bottom: 72px;
    }
    .modal-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 8px;
      
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      padding-bottom: 96px;
      padding-top: 96px;
    }
   
    .about li {
      width: 354px;
      height: 215px;
    }
    
    .about li:not(:last-child) {
      
      margin-bottom: 72px;
    }
    .about li:not(:nth-child(2n)) {
      margin-right: 24px;
    }
    .about-item {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .about-item::before {
      display: block;
      content: "";
      height: 112px;
      width: 354px;
      background-color: #f4f4fd;
      margin-bottom: 8px;
      justify-content: center;
      align-items: center;
    }
    .about-item:nth-child(1)::before {
      background-image: url(../images/antenna.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(2)::before {
      background-image: url(../images/clock.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(3)::before {
      background-image: url(../images/diagram.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(4)::before {
      background-image: url(../images/astronaut.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about h3 {
      text-align: left;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      margin: 0;
      margin-bottom: 8px;
    }
    .about p {
      text-align: left;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      margin: 0;
    }
    .about-company {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .team {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 428px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: #F4F4FD;
    }
    .containert {
      width: 768px;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 104px;
    }
    .team h2 {
      margin-top: 0;
      margin-top: 96px;
      margin-bottom: 96px;
    }
    .team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .team-list li:not(:nth-child(2n)) {
      margin-right: 24px;
    }
    .team-list li:not(:last-child) {
      margin-bottom: 72px;
    }
    .team-list li {
      width: 264px;
      height: 428px;
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px;
    }
    .icon-link {
      display: flex;
      margin-top: 12px;
      
    }
    .icon-instagram {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .instagram {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 16px;
    }
    
    .twitter {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-twitter {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .facebook {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-facebook {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .linkedin {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-linkedin {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .customers {
      text-align: center;
      padding: 96px 0;
      width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
    .customers h2 {
      margin: 0;
      margin-bottom: 72px;
      font-weight: 600;
      font-size: 36px;
      line-height: 1.11;
      color: var(--secondary-text-color);
    }
    .brands {
      display: flex;
      display: inline-block;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .brands li {
      width: 168px;
      height: 88px;
      display: inline-block;
      margin-left: 24px;
    }
    .brands li:nth-last-child(n+4) {
      margin-bottom: 72px;
    }
    .link-brand {
      border: 1px solid #8E8F99;
      display: block;
      width: 168px;
      height: 88px;
      border-radius: 4px;
      color: #8E8F99;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    }
    .cust {
      margin-top: 10%;
      fill: currentColor;
      width: 104px;
      height: 56px;
      
    }
    
    .link-brand:hover,
    .link-brand:focus {
      border: 1px solid #4D5AE5;
      color: #4D5AE5;
      
    }
    .footer {
      background-color: #2e2f42;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .logo-footer {
      text-decoration: none;
      margin-bottom: 16px;
    }
    .footer a {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.16;
      color: #f4f4fd;
    }
    .footer p {
      width: 264px;
      margin-top: 16px;
    }
    .text-footer {
      text-align: left;
      margin-left: 108px;
    }
    .social-media {
      margin-left: 24px; 
      margin-right: auto;
    }
    .form-filed input {
      width: 280px;
    }
    .social-media h3{
      text-align: left;
      margin: 0;
      margin-bottom: 16px;
      color: #fff;
    }
    .link-footer {
      display: flex;
    }
    .footer-form h3 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 16px;
      color: #F4F4FD;
    }
    .footer-form {
      margin-top: 72px;
      margin-left: 108px;
      margin-right: auto;
      width: 453px;
    }
    .footer-form form {
      width: 250px;
    }
    .footer-sub {
      display: flex;
      width: 453px;
      
    }
    .form-filed {
      position: relative;
      width: 280px;
      margin-right: 0;
    }
    .mail-form-footer {
      width: 250px;
      height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: #2E2F42;
      padding-left: 16px;
    
      color: #F4F4FD;
    }
    .mail-form-footer:focus + .label-footer,
    .mail-form-footer:not(:placeholder-shown) + .label-footer {
      left: -50px;
    }
    .label-footer {
      position: absolute;
      top: 0;
      left: 16px;
      color: rgba(255, 255, 255, 0.6);
      transform: translateY(50%);
      transition-property: left;
      transition-duration: 250ms;
      -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    .subscribe {
      position: relative;
      width: 160px;
      height: 40px;
      background-color: var(--accent-color);
      color: #fff;
      font-family: 'Roboto';
      border-radius: 4px;
      margin-right: 0;
      margin-left: 24px;
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 24px;
      padding-left: 0;
    
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
    
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe:hover,
    .subscribe:focus {
      cursor: pointer;
      background-color: #404BBF;
    }
    .subscribe::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(50%);
      right: 24px;
      display: inline-block;
      content: "";
      width: 24px;
      height: 20px;
      background-image: url(../images/iconsend.svg);
      
    }
    .container-footer {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      width: 768px;
      padding-left: 15px;
      margin: 0 auto;
      padding-right: 15px;
    }
}


@media screen and (min-width: 1199px) {
  .menu-fixed {
    display: none;
  }
  
  .burger-btn {
    display: none;
  }
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2e2f42;
    text-decoration: none;
    margin-right: 77px;
  }
  .navigation {
    display: flex;
  }
  .header {
    display: flex;
    align-items: center;
    padding-right: 156px;
  
    padding-top: 24px;
    padding-bottom: 24px;
  
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .contact {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .contacts {
    display: inline-block;
    width: 153px;
  }
  .contacts + .contacts {
    margin-left: 40px;
  }
  .site-nav {
    display: flex;
  }
  .item + .item {
    margin-left: 40px;
  }
  .current::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -24px;
    left: 0;
    background-color: #4D5AE5;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .overlay {
      padding-top: 192px;
      justify-content: center;
      text-align: center;
      max-width: 100%;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desctop.jpg);
            background-size: cover;
            background-repeat: no-repeat;
    }
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .overlay {
            background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desctop2x.jpg);
  }
}
    .main h1 {
      font-weight: 600;
      font-size: 56px;
      line-height: 1.07;
      color: var(--primary-text-color);
      text-align: center;
    }
    .button-hero {
      width: 170px;
      height: 51px;
      left: 635px;
      top: 432px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    
      font-weight: 600;
      font-size: 16px;
      line-height: 1.19;
      color: #ffffff;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 8px;
      
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .about {
      display: flex;
    }
    .about li {
      width: 264px;
    }
    .about-item::before {
      display: block;
      content: "";
      height: 112px;
      background-color: #f4f4fd;
      margin-bottom: 8px;
    }
    .about-item:nth-child(1)::before {
      background-image: url(../images/antenna.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(2)::before {
      background-image: url(../images/clock.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(3)::before {
      background-image: url(../images/diagram.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-item:nth-child(4)::before {
      background-image: url(../images/astronaut.svg);
      background-size: 60px 64px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .about-company {
      background-color: #fff;
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .about-company h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      color: var(--secondary-text-color);
    }
    .about-company p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--title-text-color);
    }
    .about li + li {
      margin-left: 24px;
    }
    .container {
      width: 1128px;
      margin: 0 auto;
    }
    
    .team-list li + li {
      margin-left: 24px;
    }
    .team-list {
      display: flex;
    }
    .team-list li {
      background-color: #fff;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px;
    }
    .container-team {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .team h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.11;
      color: var(--secondary-text-color);
      margin: 0;
      margin-bottom: 72px;
    }
    .team p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--title-text-color);
      margin: 0;
    }
    .team h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      color: var(--secondary-text-color);
      margin: 0;
    }
    .team {
      text-align: center;
      margin: 0;
      padding-top: 120px;
      background-color: #f4f4fd;
      padding-bottom: 120px;
    }
    .icon-link {
      display: flex;
      margin-top: 12px;
      
    }
    .icon-instagram {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .instagram {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 16px;
    }
    
    .twitter {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-twitter {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .facebook {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-facebook {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .linkedin {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #4d5ae5;
      border-radius: 50%;
      margin-left: 24px;
    }
    .icon-linkedin {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-top: 28%;
      fill: #fff;
    }
    .customers {
      text-align: center;
      padding: 120px 0;
      
    }
    .customers h2 {
      margin: 0;
      margin-bottom: 72px;
      font-weight: 600;
      font-size: 36px;
      line-height: 1.11;
      color: var(--secondary-text-color);
    }
    .brands {
      display: flex;
      display: inline-block;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .brands li {
      width: 168px;
      height: 88px;
      display: inline-block;
      margin-left: 24px;
    }
    .link-brand {
      border: 1px solid #8E8F99;
      display: block;
      width: 168px;
      height: 88px;
      border-radius: 4px;
      color: #8E8F99;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    }
    .cust {
      margin-top: 10%;
      fill: currentColor;
      width: 104px;
      height: 56px;
      
    }
    
    .link-brand:hover,
    .link-brand:focus {
      border: 1px solid #4D5AE5;
      color: #4D5AE5;
      
    }
    .footer {
      background-color: #2e2f42;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .logo-footer {
      text-decoration: none;
      margin-bottom: 16px;
    }
    .footer a {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.16;
      color: #f4f4fd;
    }
    .footer p {
      width: 264px;
      margin-top: 16px;
    }
    .social-media {
      margin-left: 120px; 
    }
    .social-media h3{
      margin: 0;
      margin-bottom: 16px;
      color: #fff;
    }
    .link-footer {
      display: flex;
    }
    .footer-form h3 {
      margin-top: 0;
      margin-bottom: 16px;
      color: #F4F4FD;
    }
    .footer-form {
    margin-left: 80px;
    width: 453px;
    }
    .footer-form form {
      width: 250px;
    }
    .footer-sub {
      display: flex;
      width: 453px;
    }
    .form-filed {
      position: relative;
      width: 250px;
      margin-right: 0;
    }
    .mail-form-footer {
      width: 250px;
      height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: #2E2F42;
      padding-left: 16px;
    
      color: #F4F4FD;
    }
    .mail-form-footer:focus + .label-footer,
    .mail-form-footer:not(:placeholder-shown) + .label-footer {
      left: -50px;
    }
    .label-footer {
      position: absolute;
      top: 0;
      left: 16px;
      color: rgba(255, 255, 255, 0.6);
      transform: translateY(50%);
      transition-property: left;
      transition-duration: 250ms;
      -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    .subscribe {
      position: relative;
      width: 160px;
      height: 40px;
      background-color: var(--accent-color);
      color: #fff;
      font-family: 'Roboto';
      border-radius: 4px;
      margin-right: 0;
      margin-left: 24px;
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 24px;
      padding-left: 0;
    
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
    
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe:hover,
    .subscribe:focus {
      cursor: pointer;
      background-color: #404BBF;
    }
    .subscribe::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(50%);
      right: 24px;
      display: inline-block;
      content: "";
      width: 24px;
      height: 20px;
      background-image: url(../images/iconsend.svg);
      
    }
    .container-footer {
      display: flex;
      width: 1158px;
      padding-left: 15px;
      margin: 0 auto;
      padding-right: 15px;
    }
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: none;
}
/* .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 77px;
} */
.item {
  position: relative;
}
.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .current::after {
content: "";
display: inline-block;
position: absolute;
width: 100%;
height: 5px;
bottom: -24px;
left: 0;
background-color: #4D5AE5;
opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.menu-link:hover,
.menu-link:focus {
  color: #4D5AE5;
}

/* .main h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-text-color);
  text-align: center;
} */
.main {
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  
  width: 408px;
  height: 599px;

  background-color: #FCFCFC;
  border-radius: 4px;
}
.form-modal h3 {
margin: 0;
margin-bottom: 14px;
font-size: 16px;
text-align: center;
}
.form-modal {
  width: 360px;

}

.label-modal {
  color: #8E8F99;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.14;
  
  
}
.form-name {
  position: relative;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 4px;
}
.name-svg {
  position: absolute;
  top: 0;
  left: 19px;
  transform: translateY(15px);
  width: 12px;
  height: 12px;
  fill: #2E2F42;
}
.btn-send {
  text-align: center;
  padding-top: 24px;
}
.send {
  width: 169px;
  height: 56px;
  color: #FCFCFC;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send:hover {
  cursor: pointer;
  background-color: #404BBF;
}
.input-comment {
  width: 360px;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.input-comment:hover,
.input-comment:focus {
  border: 1px solid #404BBF;
  cursor: pointer;
  outline: 0px;
}
.input-modal {
  padding-left: 38px;
  width: 360px;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  outline: 0px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:hover,
.input-modal:focus {
  border: 1px solid #404BBF;
  cursor: pointer;
  outline: 0px;
}
.name-svg {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.input-modal:focus + .name-svg,
.input-modal:hover + .name-svg{
  fill: #4D5AE5;
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}
.privacy {
overflow: hidden;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
opacity: 0;
} 
.privacy:checked ~ .label-privacy::before {
  background-color: #4D5AE5;
  background-image: url(../images/chekd.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color: #4D5AE5;
  background-position: center;
  
}
.label-privacy {
  display: flex;
  align-items: center;
  color: #8E8F99;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.14;
  position: relative;
  margin: 0;
}
.label-privacy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.label-privacy:hover::before  {
  cursor: pointer;
}
.privacy-link {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
}
.privacy-link::after {
position: absolute;
bottom: 1px;
right: 0;
display: block;
content: "";
width: 100%;
height: 1px;
background-color: #2196f3;
}
/* .modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
} */
.modal-btn:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.icon-close {
  width: 8px;
  height: 8px;
}
/* .overlay {
  padding-top: 192px;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
/* .navigation {
  display: flex;
}
.header {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.contact {
  margin-left: auto;
}
.contacts + .contacts {
  margin-left: 40px;
}
.site-nav {
  display: flex;
}
.item + .item {
  margin-left: 40px;
} */
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
}

/* .about {
  display: flex;
}
.about li {
  width: 264px;
}
.about-item::before {
  display: block;
  content: "";
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.about-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
} */
/* .button-hero {
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
.button-hero:hover,
.button-hero:focus {
  background-color: #404BBF;
}
/* .about-company {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
} */
/* .about li + li {
  margin-left: 24px;
} */
/* .about-company h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}
.about-company p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
} */
.What-are-we-doing {
  text-align: center;
  padding-bottom: 120px;
}
.image {
  display: flex;
}

.image li + li {
  margin-left: 24px;
}
.What-are-we-doing h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 72px;
}
/* .team {
  text-align: center;
  margin: 0;
  padding-top: 120px;
  background-color: #f4f4fd;
  padding-bottom: 120px;
}
.icon-link {
  display: flex;
  margin-top: 12px;
  
}
.icon-instagram {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.instagram {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 16px;
}

.twitter {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-twitter {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.facebook {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-facebook {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.linkedin {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-linkedin {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
} */
.link-list-footer {
  display: flex;
}
.instagramf {
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list-footer a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.instagramf:hover,
.instagramf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
  
}
.twitterf:hover,
.twitterf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
.facebookf:hover,
.facebookf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
.linkedinf:hover,
.linkedinf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
 
.icon-instagramf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.icon-twitterf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.twitterf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.facebookf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-facebookf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.linkedinf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-linkedinf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
/* .team-list li + li {
  margin-left: 24px;
}
.team-list {
  display: flex;
}
.team-list li {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 72px;
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin: 0;
}
.team h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin: 0;
} */
.footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  margin-top: 16px;
}
/* .customers {
  text-align: center;
  padding: 120px 0;
}
.customers h2 {
  margin: 0;
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
}
.brands {
  display: flex;
  display: inline-block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.brands li {
  width: 168px;
  height: 88px;
  display: inline-block;
  margin-left: 24px;
}
.link-brand {
  border: 1px solid #8E8F99;
  display: block;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  color: #8E8F99;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.cust {
  margin-top: 10%;
  fill: currentColor;
  width: 104px;
  height: 56px;
  
}

.link-brand:hover,
.link-brand:focus {
  border: 1px solid #4D5AE5;
  color: #4D5AE5;
  
} */


/* .footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  text-decoration: none;
  margin-bottom: 16px;
}
.footer a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
}
.footer p {
  width: 264px;
  margin-top: 16px;
}
.social-media {
  margin-left: 120px; 
}
.social-media h3{
  margin: 0;
  margin-bottom: 16px;
  color: #fff;
}
.link-footer {
  display: flex;
}
.footer-form h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: #F4F4FD;
}
.footer-form {
margin-left: 80px;
width: 453px;
}
.footer-form form {
  width: 250px;
}
.footer-sub {
  display: flex;
  width: 453px;
}
.form-filed {
  position: relative;
  width: 250px;
  margin-right: 0;
}
.mail-form-footer {
  width: 250px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2E2F42;
  padding-left: 16px;

  color: #F4F4FD;
}
.mail-form-footer:focus + .label-footer,
.mail-form-footer:not(:placeholder-shown) + .label-footer {
  left: -50px;
}
.label-footer {
  position: absolute;
  top: 0;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  transform: translateY(50%);
  transition-property: left;
  transition-duration: 250ms;
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.subscribe {
  position: relative;
  width: 160px;
  height: 40px;
  background-color: var(--accent-color);
  color: #fff;
  font-family: 'Roboto';
  border-radius: 4px;
  margin-right: 0;
  margin-left: 24px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe:hover,
.subscribe:focus {
  cursor: pointer;
  background-color: #404BBF;
}
.subscribe::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
  right: 24px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 20px;
  background-image: url(../images/iconsend.svg);
  
}
.container-footer {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  margin: 0 auto;
  padding-right: 15px;
} */
.radio-button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  
  margin-left: 24px;
  align-items: flex-start;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-button:hover,
.radio-button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-main li:hover,
.portfolio-main li:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin: 0;
}
.portfolio-main li:hover .main-overlay,
.portfolio-main li:focus .main-overlay {
  transform: translateY(0);
}
.portfolio-img {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.portfolio-link .main-overlay p {
  
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
}
.main-overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  background-color: rgba(77, 90, 229, 0.7);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin: 0;
}
.portfolio-main a {
  text-decoration: none;
}
.radio-btn {
  display: flex;
  margin-bottom: 72px;
}
.main-content {
  margin: 0;
  padding: 0;
  padding-top: 96px;

  padding-bottom: 120px;
}
.btn {
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 96px;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  
}

.portfolio-main li {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  border: 0.5px solid #F4F4FD;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-main li:nth-child(3n) {
  margin-right: 0;
}
.portfolio-main li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
/* .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
}
/* .about h3 {
  margin: 0;
}
.about p {
  margin: 0;
  margin-top: 8px;
} */

.container-main {
  flex-wrap: wrap;
  width: 1158px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.container-content-main {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
}
